In [82]:
# importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.neighbors import KNeighborsClassifier

In [83]:
# reading data
df = pd.read_csv(r"D:\hotel_bookings.csv\hotel_bookings.csv")
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [84]:
#dropping columns that are not useful

u= ['days_in_waiting_list', 'arrival_date_year', 'arrival_date_year', 'assigned_room_type', 'booking_changes', 'reservation_status', 'days_in_waiting_list']

df.drop(u, axis = 1, inplace = True)

In [85]:
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,deposit_type,agent,company,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,Resort Hotel,0,342,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,No Deposit,NaN,NaN,Transient,0.0,0,0,2015-07-01
1,Resort Hotel,0,737,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,No Deposit,NaN,NaN,Transient,0.0,0,0,2015-07-01
2,Resort Hotel,0,7,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,No Deposit,NaN,NaN,Transient,75.0,0,0,2015-07-02
3,Resort Hotel,0,13,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,No Deposit,304.0,NaN,Transient,75.0,0,0,2015-07-02
4,Resort Hotel,0,14,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,No Deposit,240.0,NaN,Transient,98.0,0,1,2015-07-03
5,Resort Hotel,0,14,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,No Deposit,240.0,NaN,Transient,98.0,0,1,2015-07-03
6,Resort Hotel,0,0,July,27,1,0,2,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,No Deposit,NaN,NaN,Transient,107.0,0,0,2015-07-03
7,Resort Hotel,0,9,July,27,1,0,2,2,0.0,0,FB,PRT,Direct,Direct,0,0,0,C,No Deposit,303.0,NaN,Transient,103.0,0,1,2015-07-03
8,Resort Hotel,1,85,July,27,1,0,3,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,No Deposit,240.0,NaN,Transient,82.0,0,1,2015-05-06
9,Resort Hotel,1,75,July,27,1,0,3,2,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,D,No Deposit,15.0,NaN,Transient,105.5,0,0,2015-04-22

In [86]:
# creating numerical and categorical dataframes

x = [col for col in df.columns if df[col].dtype == 'O']
new_df = df[x]
new_df.head()

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,deposit_type,customer_type,reservation_status_date
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,No Deposit,Transient,2015-07-01
1,Resort Hotel,July,BB,PRT,Direct,Direct,C,No Deposit,Transient,2015-07-01
2,Resort Hotel,July,BB,GBR,Direct,Direct,A,No Deposit,Transient,2015-07-02
3,Resort Hotel,July,BB,GBR,Corporate,Corporate,A,No Deposit,Transient,2015-07-02
4,Resort Hotel,July,BB,GBR,Online TA,TA/TO,A,No Deposit,Transient,2015-07-03

In [87]:
new_df['reservation_status_date'] = pd.to_datetime(new_df['reservation_status_date'])

new_df['year'] = new_df['reservation_status_date'].dt.year
new_df['month'] = new_df['reservation_status_date'].dt.month
new_df['day'] = new_df['reservation_status_date'].dt.day
new_df.drop(['reservation_status_date','arrival_date_month'] , axis = 1, inplace = True)

In [88]:
# printing unique values of each column
for c in new_df.columns:
    print(f"{c}: \n{new_df[c].unique()}\n")

hotel:
['Resort Hotel' 'City Hotel']

meal:
['BB' 'FB' 'HB' 'SC' 'Undefined']

country:
['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN' 'ARG' 'POL'
 'DEU' 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST'
 'CZE' 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR'
 'UKR' 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO'
 'ISR' 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM'
 'HRV' 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY'
 'KWT' 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN'
 'SYC' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB'
 'CMR' 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI'
 'SAU' 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB'
 'NPL' 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA'
 'KHM' 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP'
 'GLP' 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY'
 'MLI' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA'
 'ATA' 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']

market_segment:
['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']

distribution_channel:
['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']

reserved_room_type:
['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']

deposit_type:
['No Deposit' 'Refundable' 'Non Refund']

customer_type:
['Transient' 'Contract' 'Transient-Party' 'Group']

year:
[2015 2014 2016 2017]

month:
[ 7  5  4  6  3  8  9  1 11 10 12  2]

day:
[ 1  2  3  6 22 23  5  7  8 11 15 16 29 19 18  9 13  4 12 26 17 10 20 14
 30 28 25 21 27 24 31]

In [89]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [90]:
# encoding categorical variables

new_df['hotel'] = new_df['hotel'].map({'Resort Hotel' : 0, 'City Hotel' : 1})

new_df['meal'] = new_df['meal'].map({'BB' : 0, 'FB': 1, 'HB': 2, 'SC': 3, 'Undefined': 4})
 
new_df['country']=le.fit_transform(new_df['country'])

new_df['market_segment'] = new_df['market_segment'].map({'Direct': 0, 'Corporate': 1, 'Online TA': 2, 'Offline TA/TO': 3, 'Complementary': 4, 'Groups': 5, 'Undefined': 6, 'Aviation': 7})

new_df['distribution_channel'] = new_df['distribution_channel'].map({'Direct': 0, 'Corporate': 1, 'TA/TO': 2, 'Undefined': 3, 'GDS': 4})

new_df['reserved_room_type'] = new_df['reserved_room_type'].map({'C': 0, 'A': 1, 'D': 2, 'E': 3, 'G': 4, 'F': 5, 'H': 6, 'L': 7, 'B': 8})

new_df['deposit_type'] = new_df['deposit_type'].map({'No Deposit': 0, 'Refundable': 1, 'Non Refund': 3})

new_df['customer_type'] = new_df['customer_type'].map({'Transient': 0, 'Contract': 1, 'Transient-Party': 2, 'Group': 3})

new_df['year'] = new_df['year'].map({2015: 0, 2014: 1, 2016: 2, 2017: 3})
new_df['country']

0         135
1         135
2          59
3          59
4          59
         ...
119385     15
119386     56
119387     43
119388     59
119389     43
Name: country, Length: 119390, dtype: int32

In [91]:
sec_df = df.drop(columns = x, axis = 1)
sec_df['adr'] = sec_df['adr'].fillna(value = sec_df['adr'].mean())

In [92]:
sec_df.head()

,is_canceled,lead_time,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,agent,company,adr,required_car_parking_spaces,total_of_special_requests
0,0,342,27,1,0,0,2,0.0,0,0,0,0,NaN,NaN,0.0,0,0
1,0,737,27,1,0,0,2,0.0,0,0,0,0,NaN,NaN,0.0,0,0
2,0,7,27,1,0,1,1,0.0,0,0,0,0,NaN,NaN,75.0,0,0
3,0,13,27,1,0,1,1,0.0,0,0,0,0,304.0,NaN,75.0,0,0
4,0,14,27,1,0,2,2,0.0,0,0,0,0,240.0,NaN,98.0,0,1

In [93]:
X = pd.concat([new_df, sec_df], axis = 1)
y = new_df['country']
X=X[['market_segment','reserved_room_type','deposit_type','customer_type','agent']]
X

        market_segment  reserved_room_type  deposit_type  customer_type  agent
0                    0                 0.0             0              0    NaN
1                    0                 0.0             0              0    NaN
2                    0                 1.0             0              0    NaN
3                    1                 1.0             0              0  304.0
4                    2                 1.0             0              0  240.0
...                ...                 ...           ...            ...    ...
119385               3                 1.0             0              0  394.0
119386               2                 3.0             0              0    9.0
119387               2                 2.0             0              0    9.0
119388               2                 1.0             0              0   89.0
119389               2                 1.0             0              0    9.0

[119390 rows x 5 columns]

In [94]:
# splitting data into training set and test set

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [95]:
X_train.fillna(0,inplace=True)
X_test.fillna(0,inplace=True)
y_train.fillna(0,inplace=True)
y_test.fillna(0,inplace=True)

# DECISION TREE CLASSIFIER

In [98]:
d = DecisionTreeClassifier()
d.fit(X_train, y_train)

y_pred = d.predict(X_test)

ad = accuracy_score(y_test, y_pred)
mat = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy Score of Decision Tree is : {ad}")
print(f"Confusion Matrix : \n{mat}")
print(f"Classification Report : \n{clf_report}")

Accuracy Score of Decision Tree is : 0.46461177653069774
Confusion Matrix :
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Classification Report :
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.00      0.00      0.00       106
           2       0.00      0.00      0.00         1
           3       0.00      0.00      0.00         3
           4       0.00      0.00      0.00         1
           5       0.00      0.00      0.00        16
           6       0.00      0.00      0.00        68
           7       0.00      0.00      0.00         2
           9       0.00      0.00      0.00         2
          11       0.33      0.01      0.01       131
          12       0.67      0.03      0.05       391
          13       0.00      0.00      0.00         3
          15       0.82      0.04      0.08       691
          16       0.00      0.00      0.00         1
          18       0.00      0.00      0.00         8
          19       0.00      0.00      0.00        19
          20       0.00      0.00      0.00         1
          22       0.00      0.00      0.00         5
          23       0.00      0.00      0.00         8
          24       0.00      0.00      0.00         3
          25       0.59      0.05      0.09       682
          26       0.00      0.00      0.00         1
          28       0.00      0.00      0.00         1
          29       0.15      0.01      0.01       505
          30       0.00      0.00      0.00        15
          31       0.71      0.04      0.08       291
          33       0.00      0.00      0.00         5
          34       0.51      0.21      0.30       392
          35       0.00      0.00      0.00        23
          37       0.00      0.00      0.00         8
          38       0.00      0.00      0.00         5
          39       0.00      0.00      0.00         2
          41       0.00      0.00      0.00        11
          42       0.75      0.12      0.20        52
          43       0.59      0.31      0.40      2205
          45       0.00      0.00      0.00         1
          46       0.67      0.06      0.11       131
          47       0.00      0.00      0.00         4
          48       0.00      0.00      0.00        27
          49       0.00      0.00      0.00         8
          50       0.00      0.00      0.00        11
          51       0.44      0.05      0.09      2615
          52       0.00      0.00      0.00        28
          54       0.00      0.00      0.00       124
          56       0.19      0.55      0.28      3119
          57       1.00      0.50      0.67         2
          58       0.00      0.00      0.00         2
          59       0.58      0.26      0.36      3642
          60       0.00      0.00      0.00         7
          61       0.00      0.00      0.00         2
          62       0.00      0.00      0.00         1
          63       0.00      0.00      0.00         7
          65       0.00      0.00      0.00         1
          66       0.00      0.00      0.00        34
          67       0.00      0.00      0.00         2
          69       0.00      0.00      0.00         8
          71       0.00      0.00      0.00        30
          72       0.00      0.00      0.00        52
          73       0.00      0.00      0.00        12
          75       0.00      0.00      0.00        49
          76       0.42      0.07      0.13      1025
          77       0.00      0.00      0.00        24
          78       0.00      0.00      0.00         5
          79       0.39      0.53      0.45        17
          80       0.57      0.02      0.04       181
          81       0.73      0.07      0.12      1122
          82       0.00      0.00      0.00         3
          83       0.00      0.00      0.00         3
          84       0.00      0.00      0.00         4
          85       0.00      0.00      0.00        57
          86       0.00      0.00      0.00         6
          90       0.00      0.00      0.00         1
          91       0.00      0.00      0.00        43
          92       0.00      0.00      0.00         6
          93       0.00      0.00      0.00         1
          94       0.00      0.00      0.00        13
          95       0.00      0.00      0.00         3
          96       0.00      0.00      0.00         1
          97       0.00      0.00      0.00         1
          98       0.00      0.00      0.00         4
          99       0.00      0.00      0.00        25
         100       0.33      0.01      0.02        88
         101       0.00      0.00      0.00        18
         102       0.00      0.00      0.00         3
         103       0.00      0.00      0.00        82
         104       0.00      0.00      0.00         1
         106       0.00      0.00      0.00         3
         107       0.67      0.09      0.15        23
         108       0.00      0.00      0.00         3
         110       0.00      0.00      0.00         7
         112       0.00      0.00      0.00         2
         113       1.00      0.17      0.29        24
         115       0.00      0.00      0.00         2
         116       0.00      0.00      0.00         1
         117       0.00      0.00      0.00        11
         120       0.00      0.00      0.00         1
         121       0.00      0.00      0.00        11
         122       0.00      0.00      0.00         1
         123       0.68      0.04      0.08       604
         124       0.00      0.00      0.00       177
         126       0.00      0.00      0.00        25
         127       0.00      0.00      0.00         8
         128       0.00      0.00      0.00         2
         129       0.00      0.00      0.00         3
         130       0.00      0.00      0.00        10
         131       0.00      0.00      0.00         9
         132       0.00      0.00      0.00         1
         133       0.65      0.08      0.14       256
         134       0.00      0.00      0.00         4
         135       0.56      0.87      0.68     14591
         136       0.00      0.00      0.00         2
         138       0.00      0.00      0.00         9
         139       0.47      0.06      0.10       156
         140       1.00      0.01      0.01       186
         142       0.00      0.00      0.00        13
         144       0.00      0.00      0.00         5
         145       0.00      0.00      0.00        10
         146       0.00      0.00      0.00         1
         149       0.48      0.65      0.55        31
         151       0.00      0.00      0.00         1
         152       0.00      0.00      0.00        19
         153       0.00      0.00      0.00        14
         154       0.58      0.04      0.07       295
         156       0.00      0.00      0.00         1
         157       0.00      0.00      0.00         1
         158       1.00      0.45      0.62        22
         159       0.00      0.00      0.00         2
         160       0.00      0.00      0.00         1
         161       0.00      0.00      0.00        13
         162       0.00      0.00      0.00        86
         163       0.75      0.19      0.30        16
         164       0.00      0.00      0.00         1
         165       0.00      0.00      0.00         2
         166       0.00      0.00      0.00        23
         168       0.00      0.00      0.00        11
         169       0.39      0.05      0.08       621
         170       0.00      0.00      0.00         2
         171       0.00      0.00      0.00        12
         173       0.00      0.00      0.00         3
         174       0.00      0.00      0.00        21
         177       0.25      0.01      0.01       143

    accuracy                           0.47     35817
   macro avg       0.13      0.04      0.05     35817
weighted avg       0.50      0.47      0.39     35817

# END