# <div align="center"><font color='red'><b>HOTEL REVIEW SENTIMENT ANALYSIS</b></font></div> 

***

# <div align="center"><font color='darkblue'></b> IMPORTING LIBRARIES</font></div>

In [1]:
import pandas as pd
import re
import warnings
warnings.filterwarnings("ignore")
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import KNeighborsClassifier
import string
import pickle
import matplotlib.pyplot as plt

# <div align="center"><font color='darkblue'></b> READING DATA</font></div>

In [4]:
df=pd.read_csv('Hotel_Reviews.csv')
df=df[:50000]

# <div align="center"><font color='darkblue'></b> PREPROCESSING DATA</font></div>

In [21]:
df1=df[['Negative_Review']]                                      # CONVERTING DATA INTO SUITABLE FORMAT
df1['Reaction']='Negative'
df1.columns=['Review','Reaction']
df2=df[['Negative_Review']]
df2['Reaction']='Positive'
df2.columns=['Review','Reaction']
df=pd.concat([df1,df2],axis=0)

def text_clean(t):                                               # FUNCTION FOR CLEANING TEXT
    t=t.lower()
    t=re.sub('\[.*?\]','',t)
    t=re.sub('[%s]'% re.escape(string.punctuation),'',t)
    t=re.sub('\w*\d\w*','',t)
    t=re.sub('["""`"]','',t)
    t=re.sub('\n','',t)
    return t
clean_text=lambda x :text_clean(x)
df['text_corrected']=pd.DataFrame(df.Review.apply(clean_text))    # CLEANING REVIEWS
df

,Review,Reaction,text_corrected
0,I am so angry that i made this post available...,Negative,i am so angry that i made this post available...
1,No Negative,Negative,no negative
2,Rooms are nice but for elderly a bit difficul...,Negative,rooms are nice but for elderly a bit difficul...
3,My room was dirty and I was afraid to walk ba...,Negative,my room was dirty and i was afraid to walk ba...
4,You When I booked with your company on line y...,Negative,you when i booked with your company on line y...
...,...,...,...
49995,We left to soon,Positive,we left to soon
49996,It s where you are but room was noisy by traf...,Positive,it s where you are but room was noisy by traf...
49997,Seems problem between booking comand the hote...,Positive,seems problem between booking comand the hote...
49998,One member of the bar staff was ignorant bord...,Positive,one member of the bar staff was ignorant bord...
49999,Fairly unpleasant staff upon crack in and che...,Positive,fairly unpleasant staff upon crack in and che...

# <div align="center"><font color='darkblue'></b> SPLITTING DATA </font></div>

In [22]:
X=df.text_corrected
Y=df.Reaction
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=225)

# <div align="center"><font color='darkblue'></b> CREATING A PIPELINE OF VECTORIZER AND KNN </font></div>

In [32]:
tfidf=TfidfVectorizer()
clf2=KNeighborsClassifier(n_neighbors=7)
model =Pipeline([('vectorizer',tfidf),('classifier',clf2)])
model.fit(X_train,Y_train)
Pre=model.predict(X_test)

# <div align="center"><font color='darkblue'></b> CLASSIFICATION REPORT </font></div>

In [31]:
print(classification_report(Pre,Y_test))

              precision    recall  f1-score   support

    Negative       0.62      0.43      0.51     14435
    Positive       0.18      0.33      0.23      5565

    accuracy                           0.40     20000
   macro avg       0.40      0.38      0.37     20000
weighted avg       0.50      0.40      0.43     20000

# <div align="center"><font color='darkblue'></b> DUMPING MODEL INTO PICKLE FILE </font></div>

In [36]:

Pkl_Filename = "Review.pkl"  
with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(model, file)    
with open(Pkl_Filename, 'rb') as file:  
    Pickled_Models = pickle.load(file)

# <div align="center"><font color='darkblue'></b>FUNCTION FOR TESTING MODEL </font></div>

In [37]:
def result(data): 
    data=[data]
    with open('Review.pkl', 'rb') as file:  
        Pickled_Models = pickle.load(file)
        Ypredict = Pickled_Models.predict(data)  
        return Ypredict[0]

In [38]:
test_string='I HAD A GOOD TIME STAYING THERE'
result(test_string)

'Positive'

# <div align="center"><font color='red'></b> END </font></div>